{
  "presets": [ "stage-2", "react"],
  "plugins": ["transform-flow-strip-types"],
  "env": {
    "production": {
      "presets": ["es2015"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
