{
  "presets": [ "stage-2", "react"],
  "plugins": ["transform-flow-strip-types"],
  "env": {
    "dev": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "prod": {
      "presets": ["es2015"]
    },
  }
}
