@import url('https://fonts.googleapis.com/css?family=@{googleFontRequest}');

/*******************************
             Base
*******************************/
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: @background;
  font-family: @pageFont;
  font-size: 14px;
  line-height: 1.4285em;
  color: @textColor;
  font-smoothing: antialiased;
}

/*******************************
             Headings
*******************************/
h1,
h2,
h3,
h4,
h5 {
  font-family: @pageFont;
  line-height: 1.2857em;
  margin: 0.5rem;
  font-weight: bold;
  padding: 0;
}

h1 {
  min-height: 1rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.714rem;
}

h3 {
  font-size: 1.28rem;
}

h4 {
  font-size: 1.071rem;
}

h5 {
  font-size: 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}


/*******************************
             Text
*******************************/

p {
  margin: 0em 0em 1em;
  line-height: 1.4285em;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

/*-------------------
        Links
--------------------*/

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover {
  color: @linkHoverColor;
  text-decoration: underline;
}


/*******************************
          Highlighting
*******************************/

/* Site */
::-webkit-selection {
  background-color: @highlightBackground;
  color: @highlightColor;
}
::-moz-selection {
  background-color: @highlightBackground;
  color: @highlightColor;
}
::selection {
  background-color: @highlightBackground;
  color: @highlightColor;
}

/*******************************
             Form
*******************************/
textarea::-webkit-selection,
input::-webkit-selection {
  background-color: @inputHighlightBackground;
  color: @inputHighlightColor;
}
textarea::-moz-selection,
input::-moz-selection {
  background-color: @inputHighlightBackground;
  color: @inputHighlightColor;
}
textarea::selection,
input::selection {
  background-color: @inputHighlightBackground;
  color: @inputHighlightColor;
}

/*******************************
             Columns
*******************************/
.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}
.col_group {
  dispay: flex;
}
.col_1, .col_2, .col_3 {
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.col_1 {
  width: 100%;
}
.col_2 {
  width: 50%;
}
.col_3 {
  width: 33.333333333%
}


/*** TEMP ***/
label {
  display: inline-block;
}
input {
  margin: 0;
  max-width: 100%;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  text-align: left;
  line-height: 1.2142em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  padding: .67861429em 1em;
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  transition: box-shadow .1s ease,border-color .1s ease;
  box-shadow: none;
}

input:focus {
    border-color: #85B7D9;
    background: #FFF;
    color: rgba(0,0,0,.8);
    box-shadow: none;
}

button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #E0E1E2;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

button:hover {
    background-color: #CACBCD;
    background-image: none;
    box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    color: rgba(0,0,0,.8);
}

button:active {
  background-color: #BABBBC;
  background-image: '';
  color: rgba(0,0,0,.9);
  box-shadow: 0 0 0 1px transparent inset,none;
}

.nav {
  line-height: 20px;
  padding: 15px;
  color: #9d9d9d;
  background-color: #222;
  border-bottom: 1px solid #080808;
  font-size: 14px;
}

.field-group {
  margin-bottom: 10px;
}

.login-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 30px;
}

.form-control {
  text-align: left;
  padding-left: 5px;
}
