.container {
  display: flex;
  flex-grow: 1;
}

.nav {
  line-height: 20px;
  padding: 10px;
  color: @textColor;
  background-color: #1a1c22;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.nav__logo {
  font-family: @logoFont;
  margin: 0;
  color: @textColor;
  width: 50%;
}

.nav__navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.nav__navbar__item {
  font-size: 1em;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 0 6px;
  line-height: 1em;
}

.nav__navbar__item__header {
  white-space: nowrap;
  font-size: 0.8em;
  color: #51586a;
  text-transform: uppercase;
}

.fast-markets {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  flex-direction: column;
}

.fast-markets-body {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  padding: 10px;
}

.fast-markets-footer {
  padding: 10px;
  color: @smallPrintColor;
}

.loader {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
