.expiry-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}

.expiry-field input {
  display: none;
}

.expiry-field label {
  background: transparent;
  color: @primary;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  min-width: 30px;
  transition: all 0.25s ease-in-out;
  border: 1px solid @primary;
  border-right: none;
}

.expiry-field label:hover {
  color: @textColor;
  background: #1997c6;
  border-color: #1997c6;
}

.expiry-field label.checked {
  color: @textColor;
  background: #1997c6;
  border-color: #1997c6;
}

.expiry-field label.disabled,
.expiry-field label.disabled:hover {
  cursor: default;
  background: transparent;
  color: @primary-vdark;
  border-color: @primary-vdark;
}

.expiry-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.expiry-field label:last-of-type {
  border-radius: 0 4px 4px 0;
  border-right-width: 1px;
  border-right-style: solid;
}
