.fast-markets__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 400px;
}

.fast-markets__wrapper-inner {
  flex-grow: 1;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
}

.fast-markets__trades {
  width: 265px;
  flex: 0 0 265px;
  flex-direction: column;
  display: flex;
}

.fast-markets__confirm {
  min-height: 24px;
}

.fast-markets__positions {
  flex-grow: 1;
}

@media (max-width : 414px) {
  .fast-markets__trades {
    flex: none;
  }

  .fast-markets__wrapper {
    flex-direction: column-reverse;
    flex: none;
  }
}

@media (min-width : 320px) and (max-width : 414px) {
  .fast-markets__trades,
  .fast-markets__chart {
    width: 300px;
  }
}

@media (min-width : 375px) {
  .fast-markets__trades,
  .fast-markets__chart {
    margin: 0 25px;
  }
}

@media (min-width : 376px) and (max-width : 414px) {
  .fast-markets__trades,
  .fast-markets__chart {
    margin: 0 15px;
    width: 364px;
  }
}

.fast-markets__chart {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 80px;
}
