/*******************************
          Market Name
*******************************/
.market-name {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.market-name__status {
  display: inline-block;
  height: 8px;
  width: 8px;
}

.market-name__status--tradeable {
  background-color: @market-status-dealable;
}

.market-name__status--untradeable {
  background-color: @market-status-undealable;
}

.market-name__title {
  overflow-x: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*******************************
        Market Dropdown
*******************************/
.market-dropdown {
  cursor: pointer;
  position: relative;
}

.market-dropdown__selected {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 2px 4px;
}

.market-dropdown .market-name {
  width: 95%;
}

.market-dropdown__arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  width: 5%;
}

.market-dropdown--open .market-dropdown__arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.market-dropdown__menu {
  background-color: rgba(70, 71, 75, .8);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  padding: 2px 4px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999;
}
