.market-name {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.market-status {
  display: inline-block;
  height: 8px;
  width: 8px;
}

.market-status-dealable {
  background: @market-status-dealable;
}

.market-status-undealable {
  background: @market-status-undealable;
}

.market-name_title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
}

/* temp */
.market-dropdown {
  position: relative;
}
.market-dropdown--open {

}
.market-dropdown-menu {
  background-color: white;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999;
}
