.market-name {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.market-status {
  display: inline-block;
  height: 8px;
  width: 8px;
}

.market-status-dealable {
  background: @market-status-dealable;
}

.market-status-undealable {
  background: @market-status-undealable;
}

.market-name_title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
