.positions__body {
  max-height: 110px;
  overflow: scroll;
}

.positions__row {
  display: flex;
}

.positions__row {
  border-bottom: 1px solid @secondary-dark;
  border-collapse: collapse;
  padding-top: 2px;
}

.positions__header .positions__cell {
  white-space: nowrap;
  font-size: 0.8em;
  color: @secondary-highlight;
  text-transform: uppercase;
}
.positions__header .positions__row {
  border-bottom: none;
}

.positions__cell {
  padding: 0 3px;
  color: @textColor;
  text-align: center;
}

.positions__cell__market-name {
  flex-grow: 1;
  text-align: left;
}

.positions__cell__direction {
  width: 80px;
}

.positions__cell__expiry {
  width: 100px;
}

.positions__cell__strike {
  width: 100px;
}

.positions__cell__latest {
  width: 100px;
}

.positions__cell__stake {
  width: 50px;
}

.positions__cell__payout {
  width: 50px;
}
