.positions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.positions__body {
  overflow: auto;
}

.positions__empty-msg {
  display: block;
  text-align: center;
  width: 100%;
  color: @secondary-highlight;
}

.positions-row {
  display: flex;
  border-bottom: 1px solid @secondary-dark;
  border-collapse: collapse;
  padding: 1px 0;
}

.positions__header .positions-cell {
  white-space: nowrap;
  font-size: 0.8em;
  color: @secondary-highlight;
  text-transform: uppercase;
}
.positions__header .positions-row {
  border-bottom: none;
}

.positions-cell {
  padding: 0 3px;
  color: @textColor;
  text-align: center;
}

.positions-cell__market-name {
  flex-grow: 1;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.positions-cell__market-name-inner {
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.positions-cell__market-name-sparkline {
  width: 90px;
}

.positions-cell__direction {
  width: 120px;
}

.positions-cell__expiry {
  display: flex;
  width: 150px;
}

.positions-cell__expiry--narrow {
  display: flex;
  padding-left: 3px;
}

.positions-cell__strike {
  width: 150px;
}

.positions-cell__latest {
  width: 150px;
}

.positions-cell__stake {
  width: 80px;
}

.positions-cell__payout {
  width: 80px;
}

@media (max-width : 900px) {
  .positions-cell__direction,
  .positions-cell__expiry,
  .positions-cell__strike,
  .positions-cell__latest {
    width: 90px;
  }

  .positions-cell__stake,
  .positions-cell__payout {
    width: 70px;
  }
}

@media (max-width : 670px) {
  .positions-cell__direction {
    display: none;
  }
}

@media (max-width : 590px) {
  .positions-cell__stake {
    display: none;
  }
}

@media (max-width : 590px) {
  .positions-cell__latest {
    display: none;
  }
}

@media (max-width : 420px) {
  .positions-cell__strike {
    display: none;
  }
}

@media (max-width : 320px) {
  .positions-cell__payout {
    width: 55px;
  }

  .positions-cell__expiry {
    width: 75px;
  }
}
