@import './palette.less';

/*******************************
             Base
*******************************/
@background: @secondary-vdark;
@textColor: @light;
@smallPrintColor: @light;
@pageFont: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@logoFont: 'Alegreya Sans SC', cursive;
@logoColor: @primary;

/*******************************
             Links
*******************************/
@linkColor: @primary;
@linkHoverColor: @primary-highlight;

/*******************************
             Highlight
*******************************/
@inputHighlightBackground: @light;
@inputHighlightColor: rgba(0, 0, 0, 0.87);
@highlightBackground: #cce2ff;
@highlightColor: @secondary-dark;

/*******************************
             Forms
*******************************/
@input-color: @light;
@input-background-color: @secondary-dark;
@input-border-color-focus: @primary;
@input-background-color-focus: @light;
@input-focus-color: @secondary-dark;

/*******************************
             Font
*******************************/
@googleBodyFontName: 'Lato';
@googleBodyFontSizes: '400,700,400italic,700italic';
@googleBodySubset: 'latin';
@googleBodyFontRequest: '@{googleBodyFontName}:@{googleBodyFontSizes}&subset=@{googleBodySubset}';

@googleLogoFontName: 'Alegreya+Sans+SC';
@googleLogoFontSizes: '700';
@googleLogoSubset: 'latin';
@googleLogoFontRequest: '@{googleLogoFontName}:@{googleLogoFontSizes}&subset=@{googleLogoSubset}';

/*******************************
             Statuses
*******************************/
@market-status-dealable: @deal-primary;
@market-status-undealable: @deal-secondary;

/*******************************
             Buttons
*******************************/
@btn-primary: @primary;
@btn-primary-highlight: @primary-highlight;

@btn-dealable: @deal-primary;
@undealable: @deal-secondary;
