/*******************************
             Base
*******************************/
@background: #f2f3f5;
@textColor: rgba(0,0,0,.87);
@pageFont: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;

/*******************************
             Links
*******************************/
@linkColor: #4183c4;
@linkHoverColor: #1e70bf;

/*******************************
             Highlight
*******************************/
@inputHighlightBackground: rgba(100, 100, 100, 0.4);
@inputHighlightColor: rgba(0, 0, 0, 0.87);
@highlightBackground: #cce2ff;
@highlightColor: rgba(0, 0, 0, 0.87);

/*******************************
             Font
*******************************/
@googleFontName: 'Lato';
@googleFontSizes: '400,700,400italic,700italic';
@googleSubset: 'latin';
@googleFontRequest: '@{googleFontName}:@{googleFontSizes}&subset=@{googleSubset}';
