.ticket {
  border: 1px solid #9090a0;
  background: #f5f5f5;
  padding: 8px;
  width: 250px;
}

.ticket-form {
  display: block;
}

.expiry input {
  display: none;
}

.expiry label {
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  padding: 3px;
  color: #fff;
  background-color: #69335e;
  margin-right: 5px;
}
