.ticket {
  padding: 8px;
}

.ticket-form {
  display: block;
}

.ticket-form__direction {
  display: flex;
  flex-direction: column;
}



// .expiry input {
//   display: none;
// }
//
// .expiry label {
//   height: 20px;
//   width: 20px;
//   display: inline-block;
//   cursor: pointer;
//   cursor: hand;
//   text-align: center;
//   line-height: 20px;
//   font-size: 14px;
//   padding: 3px;
//   color: #fff;
//   background-color: #69335e;
//   margin-right: 5px;
// }
